<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container" >
      <div id="vidDiv" >
        <video autoplay></video>
      </div>

      <div class="clearfix">
        <button type="button" id="btnVidCap"> Capture Video </button>
        <button type="button" id="btnRemoveVid"> Stop Video </button>
      </div>
    </div>
    <script src="../javascripts/webc.js"></script>
  </body>
</html>
